    <!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
    <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div itemscope itemtype="http://schema.org/LocalBusiness">
                    <div class="col-lg-4">
                        <h4>Contact</h4>
                        <div class="hline-w"></div>
                        </p>
                        <p><b>Website:</b>
                            <a href="https://www.formera.net/"> <span itemprop="url">http://www.formera.net/</span></a>
                        </p>
                        <p><b>Webshop:</b> <a href="http://shop.formera.net">http://shop.formera.net</a></p>
                        <p>
                            <div><b>email:</b> <span itemprop="email">sales<img src="../assets/img/at-sign.png" itemprop="image" width="10px" alt="at">formera.net</span></div>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <h4>Social Media</h4>
                        <div class="hline-w"></div>
                        <p>
                            <a href="https://www.facebook.com/FormeraNet/"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/formera_net"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <h4>Adress</h4>
                        <div class="hline-w"></div>
                        <p>
                            <div itemprop="name">Formera Net AB</div>
                            <div itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
                                <div itemprop="streetAddress">Fässbergsgatan 61F</div>
                                <div><span itemprop="postalCode">43169 </span>, <span itemprop="addressLocality">Mölndal</span></div>
                                <div itemprop="addressCountry">Sverige</div>
                            </div>
                            <! --/itemtype="http://schema.org/PostalAddress -->
                            <div>Phone: <span itemprop="telephone">+46 72-863 7607</span></div>
                        </p>
                    </div>
                </div>
                <! --/itemscope itemtype="http://schema.org/LocalBusiness -->
            </div>
            <! --/row -->
        </div>
        <! --/container -->
    </div>
    <! --/footerwrap -->
