<div id="wrapper">
  <div class="overlay"></div>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="dashboard">Formera Sensor Watch</a>
      <img class="formera_logo" src="../assets/img/formera_logo50x50.png" alt="logo">

    </div>   

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <a ui-sref="dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            <!--<a href="dashboard.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>-->
          </li>
          <li>
            <li ui-sref-active="active"><a ui-sref="sensors"><i class="fa fa-thermometer-full fa-fw"></i> Sensor state</a></li>
            <!--<a href="sensors.html"><i class="fa fa-thermometer-full fa-fw"></i> Sensor state</a>-->
          </li>
          <li ng-disabled=true>
            <li ui-sref-active="active"><a ui-sref="alerts1"><i class="fa fa-exclamation-circle fa-fw"></i> (Coming soon - Alerts)</a></li>
            <!--<a href="alerts.html"><i class="fa fa-exclamation-circle fa-fw"></i> Alerts and warnings</a>-->
          </li>
          <li>
            <a ui-sref="charts"><i class="fa fa-bar-chart-o fa-fw"></i> Charts and history</a>
          </li>
          <li>
            <a ui-sref="user"><i class="fa fa-user fa-fw"></i> User settings</a>
          </li>          
          <li>
            <a ui-sref="admin"><i class="fa fa-dashboard fa-fw"></i> Admin</a>
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>
</div>